*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono';
  color: hsl(183, 100%, 15%);
}
body{
  background-color: #c5e4e7;
}
.text-top{
  margin-top: 3vh ;
  font-size: 1.5rem;
  letter-spacing: 11px;
  font-weight: 700;
}
.content{
  background-color: white;
  padding: 32px;
  /* width: 70vw !important; */
  /* min-width: 420px; */
  border-radius: 24px;
  margin: 5vh auto !important;
}
.text-input{
  text-align: right !important;
  width: 100% !important;
  
}
.tip-custom{
  height: 7vh;
  width: 100%; 
  border: none;
  background-color: #2bc1af !important;
}
.tip-button{
  height: 56px;
  font-size: 1.5rem !important;
  width: 100%;
  font-family: 'Space Mono' !important;
  background-color: hsl(183, 100%, 15%) !important;
  transition: background-color 0.3s;;
  
}
.tip-button:hover{
  background-color: #2bc1af !important;
  color:hsl(183, 100%, 15%)
} 


/* Right content */

.right-content{
  background-color: hsl(183, 100%, 15%);
  height: 100%;
  border-radius: 13px;
  padding: 4vh 3vw;
}
.reset-button{
  width: 100% !important;
  padding:10px;
  background-color: #2bbba6 !important;
  color: hsl(183, 100%, 15%) !important;
  font-size: 1rem !important;
}
